<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FarmciasTurnoSalto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06CEA9021E6F5FE5008EDE2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06CEA9161E6F5FE5008EDE2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06CEA9211E6F5FE5008EDE2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
